@import url(normalize.css);
.content {
  top: 0;
  left: 0;
  width: 940px;
  margin: 0 auto;
  height: 650px; }

.content_container {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: space-around; }

.header {
  top: 0;
  left: 0;
  width: 940px;
  height: 87px;
  margin: auto;
  font-family: 'AlegreyaSans-Regular';
  font-size: 18px; }

.logo {
  top: -10px;
  position: relative;
  left: 0;
  width: 53px;
  height: 39px; }

.menu__list {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 87px; }
  .menu__list a {
    position: relative;
    top: 37px;
    left: 0;
    color: #fff; }
  .menu__list .num {
    margin-left: 10px;
    top: 30px;
    font-size: 24px; }
  .menu__list .num:before {
    position: absolute;
    left: -15px;
    top: 1px;
    width: 10px;
    height: 10px;
    content: url("../img/section_1/phone.png");
    background-size: 20%;
    font-size: 20px; }

.l-content {
  margin-top: 78px; }

.r-content {
  top: 130px;
  left: 500px;
  width: 470px;
  height: 430px; }

.leaf1 {
  position: absolute;
  width: 240px;
  height: 200px;
  top: 475px;
  left: 865px;
  background-image: url(../img/section_1/leaf1.png); }

.leaf2 {
  position: absolute;
  width: 140px;
  height: 110px;
  top: 690px;
  left: 685px;
  background-repeat: no-repeat;
  background-image: url(../img/section_1/leaf2.png); }

.leaf3 {
  position: absolute;
  width: 60px;
  height: 100px;
  top: 750px;
  left: -45px;
  background-repeat: no-repeat;
  background-image: url(../img/section_1/leaf3.png); }

.berries1 {
  position: absolute;
  width: 230px;
  height: 230px;
  top: 520px;
  left: 645px;
  background-repeat: no-repeat;
  background-image: url(../img/section_1/berries1.png); }

.berries2 {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 850px;
  left: 815px;
  background-repeat: no-repeat;
  background-image: url(../img/section_1/berries2.png); }

.section__title1 {
  font-family: 'AlegreyaSans-Bold';
  font-size: 48px;
  color: white;
  left: 0px;
  position: relative;
  margin-bottom: 20px;
  width: 320px; }

.explain {
  position: relative;
  width: 360px;
  height: 48px;
  top: 6px;
  left: 0px;
  font-family: 'AlegreyaSans-Regular';
  font-size: 21px;
  color: white; }

.btn {
  margin-top: 30px; }

.btn-text {
  width: 160px;
  height: 50px;
  padding: 18px 35px;
  font-family: 'AlegreyaSans-ExtraBold';
  font-size: 19px;
  color: #365a49;
  position: relative;
  top: 42px;
  background: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  left: 0px; }
  .btn-text:hover {
    background: #365a49;
    color: black; }

.descrpt {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 500px;
  height: 60px;
  margin-top: 150px;
  left: 10px;
  color: white;
  text-align: left;
  font-family: 'AlegreyaSans-Regular';
  font-size: 16px; }

.item-1 {
  top: 0;
  left: 0px; }

.item-1:before {
  position: absolute;
  left: -10px;
  top: 0;
  width: 50px;
  height: 50px;
  content: url("../img/section_1/icon1.png"); }

.item-2:before {
  position: absolute;
  left: 170px;
  top: 0;
  width: 50px;
  height: 50px;
  content: url("../img/section_1/icon2.png"); }

.item-3:before {
  position: absolute;
  left: 330px;
  top: 0;
  width: 50px;
  height: 50px;
  content: url("../img/section_1/icon3.png"); }

.container {
  top: auto;
  left: auto;
  max-width: 1100px;
  height: 650px;
  margin: auto; }

.hero {
  width: 100%;
  height: 100vh;
  top: auto;
  left: auto;
  background: url(../img/section_1/bars.png) left 78% center, url("../img/section_1/background.jpg") right bottom;
  background-repeat: no-repeat;
  background-color: #61c4d9;
  display: block; }

.container2 {
  position: relative;
  width: 940px;
  left: 0;
  top: -200px;
  height: 650px;
  margin: 0 auto; }

.pattern {
  position: absolute;
  left: -80px;
  top: 190px;
  width: 165px;
  height: 320px;
  background: url("../img/section_2/pattern.png");
  background-repeat: no-repeat; }

.raspberry {
  position: absolute;
  left: -80px;
  top: 550px;
  width: 160px;
  height: 320px;
  background: url("../img/section_2/raspberry.png");
  background-repeat: no-repeat; }

.headline {
  margin: auto;
  width: 410px;
  height: 120px;
  margin-top: 105px; }

.headline__subtitle {
  font-family: 'AlegreyaSans-Regular';
  text-align: center;
  opacity: 0.5;
  margin-top: 0; }

.section__title {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
  font-family: 'AlegreyaSans-Bold'; }

.headline__title {
  margin-bottom: 10px; }

.benefits {
  display: flex;
  justify-content: space-around;
  margin-top: 40px; }

.ball, .ball {
  position: absolute;
  left: 0px;
  top: 325px;
  width: 70px;
  height: 20px;
  background: url("../img/section_2/balls.png");
  background-repeat: no-repeat; }

.ball1 {
  left: 260px; }

.ball2 {
  left: 605px; }

.benefits__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 280px;
  flex: 1;
  margin: 0 4%; }

.benefit__title {
  font-size: 28px;
  font-family: 'AlegreyaSans-Bold';
  margin-top: 5px; }

.hand {
  top: 28px;
  left: 0px;
  position: relative;
  height: 63px;
  width: 75px; }

.icon {
  width: 74px;
  height: 70px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }

.benefit__desc {
  width: 270px;
  position: relative;
  font-size: 18px;
  font-family: 'AlegreyaSans-Regular';
  margin-top: 20px;
  letter-spacing: 0px;
  opacity: 0.5; }

.descrp {
  width: 290px; }

.benefit__text {
  left: 0;
  margin-top: 22px; }

.benefit-wrapper {
  display: inline-block;
  width: 130px;
  height: 130px;
  top: 0px;
  left: 0;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden; }

.section {
  height: 100vh;
  top: auto;
  left: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container3 {
  position: relative;
  width: 940px;
  height: 100vh;
  top: -100px;
  margin: 0 auto; }

.strawberry {
  position: absolute;
  width: 145px;
  height: 90px;
  left: 1340px;
  top: 1950px; }

.berries-sec3 {
  position: absolute;
  width: 195px;
  height: 185px;
  left: 405px;
  top: 2500px; }

.pattern-sec3 {
  position: absolute;
  width: 70px;
  height: 285px;
  left: 400px;
  top: 2500px;
  z-index: -1; }

.reviews__switcher {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 360px;
  margin-top: 70px;
  width: 250px;
  height: 80px; }

.reviews__swither-item {
  position: relative;
  width: 65px;
  height: 65px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .interactive-avatar__img--active {
    border-color: #0f5a47; }

.man-img {
  width: 300%;
  height: 300%;
  object-position: -105px -45px; }

.girl-img {
  width: 250%;
  height: 250%;
  object-position: -90px -12px; }

.reviews__avatar {
  position: relative;
  width: 253px;
  height: 260px;
  background-image: url("../img/section_3/photo1.jpg");
  background-size: 100%;
  margin-left: 10px;
  top: -5px;
  background-position: top 37% left 50%; }

.reviews {
  width: 940px;
  height: 450px; }

.reviews__title {
  margin-top: 5px;
  left: 0;
  font-family: 'AlegreyaSans-Bold';
  font-size: 30px; }

.reviews__text {
  position: relative;
  height: 105px;
  width: 445px;
  font-family: 'AlegreyaSans-Regular';
  font-size: 18px;
  color: #abacac; }

.reviews__author {
  font-family: 'AlegreyaSans-Medium'; }

.reviews__display {
  display: flex;
  position: relative;
  background-image: url("../img/section_3/rectangle.png");
  background-repeat: no-repeat;
  padding: 50px 40px 34px;
  top: 0px;
  left: 0px;
  width: 940px;
  height: 350px; }

.reviews__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 445px;
  height: 245px;
  margin-left: 20px;
  position: relative; }

.reviews {
  position: relative;
  left: -5px;
  top: -25px; }

.container4 {
  position: relative;
  width: 1100px;
  height: 650px;
  left: 0;
  top: -180px;
  margin: 0 auto;
  color: #365a49;
  font-family: 'AlegreyaSans-Regular';
  font-size: 18px; }

.sec4__title {
  top: -110px;
  left: 0;
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-family: 'AlegreyaSans-Bold';
  font-size: 48px;
  color: #365a49; }

.blueberry-sec4 {
  position: relative;
  width: 50px;
  height: 50px;
  top: 60vh;
  background-repeat: no-repeat;
  background-image: url("../img/section_4/blueberry.png"); }

.leaf-sec4 {
  position: relative;
  width: 140px;
  height: 190px;
  left: 56vw;
  top: 53vh;
  background-repeat: no-repeat;
  background-image: url("../img/section_4/leaf.png"); }

.form {
  top: 0px;
  margin: auto;
  width: 940px;
  position: relative;
  display: flex; }

.form__col {
  width: 460px;
  height: 260px;
  margin-right: 20px;
  flex-wrap: wrap; }
  .form__col:last-child {
    margin-right: 0px; }

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px; }

.form__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.textarea {
  position: relative;
  width: 460px;
  height: 140px; }

.form__input {
  margin-right: 20px;
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
  width: calc(100% - 28px);
  resize: none; }
  .form__input:last-child {
    margin-right: 0px; }
  .form__input .inpt1 {
    width: 220px; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }

.form__block {
  margin-right: 20px; }

.radio {
  display: flex;
  margin-left: 20px;
  cursor: pointer; }
  .radio--checkbox .radio__visible {
    border-radius: 0; }

.input {
  display: none;
  position: relative;
  top: 5px; }
  .input:checked ~ .radio__visible:before {
    display: block; }

.radio-checkbox {
  margin-top: 10px; }

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  background: #fff;
  border-radius: 50%;
  left: -20px; }
  .radio__visible:before {
    content: "";
    display: none;
    width: 14px;
    height: 14px;
    background: #365a49;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    transfrom: translate(-50%, -50%); }

.btn-sec4 {
  padding: 0;
  border: 0px;
  top: 60px;
  left: 550px;
  margin-left: 20px;
  background: #365a49;
  color: #fff; }

.btn--green:hover {
  background: #fff;
  color: #365a49; }

.btn--transparent {
  background: transparent;
  color: black; }
  .btn--transparent:hover {
    color: #365a49;
    background: transparent; }

.delivery {
  background-image: url("../img/section_4/background.jpg"); }

@font-face {
  font-family: 'Alegreya Sans-Black';
  src: url("../fonts/AlegreyaSans-Black.woff2") format("woff2"), url("../fonts/AlegreyaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans-BlackItalic';
  src: url("../fonts/AlegreyaSans-BlackItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans-Italic';
  src: url("../fonts/AlegreyaSans-Italic.woff2") format("woff2"), url("../fonts/AlegreyaSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans-Thin';
  src: url("../fonts/AlegreyaSans-Thin.woff2") format("woff2"), url("../fonts/AlegreyaSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-LightItalic';
  src: url("../fonts/AlegreyaSans-LightItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-ExtraBoldItalic';
  src: url("../fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-Light';
  src: url("../fonts/AlegreyaSans-Light.woff2") format("woff2"), url("../fonts/AlegreyaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-Bold';
  src: url("../fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("../fonts/AlegreyaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-Medium';
  src: url("../fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("../fonts/AlegreyaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-ExtraBold';
  src: url("../fonts/AlegreyaSans-ExtraBold.woff2") format("woff2"), url("../fonts/AlegreyaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-BoldItalic';
  src: url("../fonts/AlegreyaSans-BoldItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-ThinItalic';
  src: url("../fonts/AlegreyaSans-ThinItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-MediumItalic';
  src: url("../fonts/AlegreyaSans-MediumItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
.fixed-menu {
  position: fixed;
  top: 21%;
  right: 23%;
  z-index: 100; }

.fixed-menu__item {
  margin-bottom: 5px; }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #fff; }

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative; }
  .fixed-menu__link:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-decoration-style: none;
  list-style-type: none;
  line-height: 1.22; }

body {
  font-family: 'Alegreya Sans-Black';
  font-size: 18px;
  color: black; }

.wrapper {
  top: 0px;
  left: 0px;
  height: 3000px;
  margin: auto;
  width: 100%; }
