@charset "UTF-8";
@import url(normalize.css);
.content {
  position: relative;
  width: 29.37rem;
  height: 28.1rem;
  margin-top: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  @media screen and (max-width: 768px) {
    .content {
      width: 100%;
      height: 80%;
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 0; }
      .content:before {
        content: url("../img/section_1/back-img.png"); } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 5.45rem;
  font-family: 'AlegreyaSans-Regular'; }

.logo {
  width: 6rem; }
  @media screen and (max-width: 768px) {
    .logo {
      margin-left: 2rem; } }

.pic {
  position: relative;
  top: 2rem; }

.menu {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  height: 5.43rem;
  font-size: 1.2rem;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }
  .menu .li-last {
    margin-right: 3rem; }
  .menu li {
    margin-right: 2.6rem; }
  .menu a {
    position: relative;
    white-space: nowrap;
    top: 2.31rem;
    left: 0;
    color: #fff; }

.svg-num {
  margin: 7px 5px;
  margin-left: 0;
  width: 13px;
  height: 13px; }

.number {
  display: inline-flex;
  margin-top: 2.1rem; }
  @media screen and (max-width: 768px) {
    .number {
      display: none; } }

.num {
  white-space: nowrap;
  left: 0;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'AlegreyaSans-Regular'; }

.section__title1 {
  font-family: 'AlegreyaSans-Bold';
  font-size: 3rem;
  color: white;
  margin-bottom: 1.25rem;
  margin-left: -3px; }
  @media screen and (max-width: 768px) {
    .section__title1 {
      margin-bottom: 1rem; } }

.explain {
  position: relative;
  padding-right: 15%;
  margin-top: 0.375rem;
  font-family: 'AlegreyaSans-Regular';
  font-size: 1.31rem;
  color: white; }
  @media screen and (max-width: 768px) {
    .explain {
      margin-top: 0;
      padding: 0 25%; } }
  @media screen and (max-width: 480px) {
    .explain {
      padding: 0 17%; } }

.btn {
  margin-top: 1.87rem; }
  @media screen and (max-width: 768px) {
    .btn {
      margin-top: 0.5rem; } }

.btn-text {
  width: 10rem;
  height: 3.125rem;
  padding: 18px 35px;
  font-family: 'AlegreyaSans-ExtraBold';
  font-size: 1.18rem;
  color: #365a49;
  position: relative;
  top: 2.6rem;
  background: #fff;
  text-transform: uppercase;
  border-radius: 6.25rem; }
  .btn-text:hover {
    background: #365a49;
    color: black; }

.descrpt {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 31.25rem;
  margin-top: 9.37rem;
  color: white;
  font-family: 'AlegreyaSans-Regular';
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    .descrpt {
      display: none; } }

.item-1 {
  top: 0;
  left: 0px; }

.leaf-svg {
  width: 45px;
  height: 45px; }

.car-svg {
  width: 45px;
  height: 45px; }

.smthg-svg {
  width: 45px;
  height: 45px; }

.container {
  position: relative;
  max-width: 68.75rem;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.hamburger {
  width: 24px;
  height: 20px;
  margin-top: 2rem;
  margin-right: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-flex; } }

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px; }

.hero {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url("../img/section_1/background.jpg") right bottom;
  background-repeat: no-repeat;
  background-color: #61c4d9;
  display: block; }
  @media screen and (max-width: 768px) {
    .hero {
      background-position: right bottom 100%; } }

.bars {
  width: 31.25rem;
  height: 31.25rem;
  right: 19rem;
  top: 17rem;
  background-repeat: no-repeat;
  position: absolute;
  background: url(../img/section_1/bars.png) left 78% center; }

.berries1 {
  background: url("../img/section_1/berries1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 15.625rem;
  height: 15.625rem;
  right: 31.25rem;
  top: 40.625rem; }

.berries2 {
  background: url("../img/section_1/berries2.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 9.375rem;
  height: 9.375rem;
  right: 15.625rem;
  top: 59.375rem; }

.leaf1 {
  background: url("../img/section_1/leaf1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 14.375rem;
  height: 14.375rem;
  right: 16.875rem;
  top: 34.68rem; }

.leaf2 {
  background: url("../img/section_1/leaf2.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 14.375rem;
  height: 14.375rem;
  right: 31.25rem;
  top: 58.125rem; }

.leaf3 {
  background: url("../img/section_1/leaf3.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 3.75rem;
  height: 6.25rem;
  left: 3.75rem;
  top: 59rem; }

@media screen and (max-width: 768px) {
  .images {
    display: none; } }

.headline {
  margin: auto;
  width: 25.625rem;
  height: 7.5rem‬;
  margin-top: 6.56rem; }

.headline__subtitle {
  font-family: 'AlegreyaSans-Regular';
  text-align: center;
  opacity: 0.5;
  margin-top: 0; }

.section__title {
  font-size: 3rem;
  margin-top: 3.1rem;
  margin-bottom: 3.75rem;
  text-align: center;
  font-family: 'AlegreyaSans-Bold'; }
  @media screen and (max-width: 768px) {
    .section__title {
      margin-top: 14rem; } }
  @media screen and (max-width: 480px) {
    .section__title {
      margin-top: 0rem; } }

.headline__title {
  margin-bottom: 10px; }

.benefits {
  display: flex;
  margin-top: 5rem; }
  @media screen and (max-width: 768px) {
    .benefits {
      margin-top: 6rem;
      flex-direction: column; } }

.ball {
  position: absolute;
  right: -2.7rem;
  top: 2.19rem;
  width: 80px;
  height: 35px;
  background: url("../img/section_2/balls.png");
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .ball {
      display: none; } }
  @media screen and (max-width: 480px) {
    .ball {
      display: none; } }

.benefits__item {
  position: relative;
  text-align: center;
  flex: 1;
  padding: 0 3%; }
  @media screen and (max-width: 480px) {
    .benefits__item {
      margin-bottom: 3.1rem;
      display: flex;
      padding-right: 4rem; } }

.benefit__title {
  font-size: 1.75rem;
  font-family: 'AlegreyaSans-Bold';
  margin-top: 5px; }

.hand {
  top: 1.75rem‬;
  left: 0;
  position: relative;
  height: 3.937rem;
  width: 4.69rem; }

.icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }

.benefit__desc {
  position: relative;
  font-size: 1.125rem;
  font-family: 'AlegreyaSans-Regular';
  margin-top: 1.25rem;
  letter-spacing: 0;
  opacity: 0.5; }

.benefit__text {
  left: 0;
  margin-top: 1.375rem; }
  @media screen and (max-width: 480px) {
    .benefit__text {
      margin: 0;
      text-align: left;
      padding-left: 1rem; } }

.benefit-wrapper {
  display: inline-flex;
  width: 8.125rem;
  height: 8.125rem;
  top: 0;
  left: 0;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden; }

.svg-wrapper {
  margin: auto;
  width: 4.4rem;
  height: 4.4rem; }

.section {
  height: 100vh;
  top: auto;
  left: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }

.pattern {
  position: absolute;
  left: 0;
  top: 11.875rem;
  width: 10.3rem;
  height: 20rem;
  background: url("../img/section_2/pattern.png");
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .pattern {
      top: 5rem; } }
  @media screen and (max-width: 480px) {
    .pattern {
      display: none; } }

.raspberry {
  position: absolute;
  left: 0;
  top: 34.3rem;
  width: 10rem;
  height: 20rem;
  background: url("../img/section_2/raspberry.png");
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .raspberry {
      top: 48rem; } }
  @media screen and (max-width: 480px) {
    .raspberry {
      display: none; } }

.strawberry {
  position: absolute;
  right: 0;
  top: 0; }

.berries-sec3 {
  position: absolute;
  top: 78%;
  z-index: 1; }

.pattern-sec3 {
  position: absolute;
  width: 4.375rem;
  height: 17.8rem; }

.reviews__switcher {
  display: flex;
  justify-content: space-around;
  width: 15.625rem;
  margin: 0 auto; }

.interactive__avatar-link {
  display: block;
  width: 4rem;
  height: 4rem;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .interactive-avatar__img--active {
    border-color: #0f5a47; }

.reviews__avatar {
  width: 15.8rem;
  height: 16.25rem;
  background-image: url("../img/section_3/photo1.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 3.125rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.1rem; }
  @media screen and (max-width: 768px) {
    .reviews__avatar {
      padding-top: 0rem;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-bottom: 0rem;
      width: 130px;
      height: 130px;
      margin-left: 1rem;
      margin-top: 2rem; } }

.reviews {
  margin: 0 auto; }

.reviews__title {
  padding-top: 0.625rem;
  left: 0;
  font-family: 'AlegreyaSans-Bold';
  font-size: 1.875rem‬; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      padding-top: 2rem; } }

.reviews__text {
  position: relative;
  padding: 4% 0%;
  font-family: 'AlegreyaSans-Regular';
  font-size: 1.125rem;
  color: #abacac; }

.reviews__author {
  font-family: 'AlegreyaSans-Medium'; }

.reviews__display {
  display: flex;
  position: relative;
  background-image: url("../img/section_3/rectangle.png");
  background-repeat: no-repeat;
  margin-bottom: 6.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__display {
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-size: 100%;
      margin-bottom: 4rem; } }

.reviews__content {
  padding-right: 10rem;
  flex: 1;
  height: 15.3rem;
  margin-left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__content {
      padding-right: 0rem; } }

.reviews {
  position: relative; }
  @media screen and (max-width: 768px) {
    .reviews {
      background: #f8faf9; } }

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-wrapper {
  padding: 3.12rem; }
  @media screen and (max-width: 480px) {
    .form-wrapper {
      padding: 0; } }

.form {
  display: flex;
  font-family: 'AlegreyaSans-Regular';
  color: #365a49; }
  @media screen and (max-width: 768px) {
    .form {
      display: block; } }

.form__col {
  width: 28.75rem;
  margin-right: 1.25rem;
  flex-wrap: wrap; }
  .form__col:last-child {
    margin-right: 0px; }

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1rem; }

.form__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.textarea {
  position: relative;
  width: 28.75rem;
  height: 8.74rem; }

.form__input {
  padding: 18px 11px;
  border: solid 3px transparent;
  width: calc(100% - 1.75rem);
  resize: none; }
  .form__input:last-child {
    margin-right: 0px; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .form__controls {
      justify-content: center; } }

.form__block {
  margin-right: 1.25rem‬; }

.radio {
  display: flex;
  margin-left: 1.25rem;
  cursor: pointer; }
  .radio--checkbox .radio__visible {
    border-radius: 0; }

.input {
  display: none;
  position: relative;
  top: 5px; }
  .input:checked ~ .radio__visible:before {
    display: block; }

.radio-checkbox {
  margin-top: 10px; }

.radio__visible {
  width: 1.625rem‬;
  height: 1.625rem‬;
  position: relative;
  background: #fff;
  border-radius: 50%;
  left: -20px; }
  .radio__visible:before {
    content: "";
    display: none;
    width: 14px;
    height: 14px;
    background: #365a49;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    transfrom: translate(-50%, -50%); }

.btn-sec4 {
  padding: 0;
  border: 0px;
  top: 3.75rem;
  left: 25rem;
  margin-left: 20px;
  background: #365a49;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .btn-sec4 {
      left: 0;
      margin-left: 0; } }

.btn--green:hover {
  background: #fff;
  color: #365a49; }

.btn--transparent {
  background: transparent;
  color: black; }
  .btn--transparent:hover {
    color: #365a49;
    background: transparent; }

@media screen and (max-width: 768px) {
  .form__btns {
    padding: 0 16%; } }

.delivery {
  background-image: url("../img/section_4/background.jpg"); }

.sec4__title {
  padding-bottom: 4rem;
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-family: 'AlegreyaSans-Bold';
  font-size: 4rem;
  color: #365a49; }
  @media screen and (max-width: 768px) {
    .sec4__title {
      padding-bottom: 1rem; } }

.blueberry-sec4 {
  position: absolute;
  width: 4.375rem;
  height: 4.375rem;
  left: 25rem;
  top: 48.125rem;
  background-repeat: no-repeat;
  background-image: url("../img/section_4/blueberry.png"); }
  @media screen and (max-width: 768px) {
    .blueberry-sec4 {
      display: none; } }

.leaf-sec4 {
  position: absolute;
  width: 8.75rem;
  height: 13.125rem;
  right: 23.75rem;
  top: 38.75rem;
  background-repeat: no-repeat;
  background-image: url("../img/section_4/leaf.png"); }
  @media screen and (max-width: 768px) {
    .leaf-sec4 {
      display: none; } }

.sec5-background {
  background: url("../img/section_5/background.jpg");
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat; }

.footer {
  width: 100%;
  height: 100px; }

.num-color {
  color: #365a49;
  top: 0; }

.phone-icon {
  left: 5px; }

.footer-number {
  display: inline-flex;
  padding-top: 20px; }
  @media screen and (max-width: 480px) {
    .footer-number {
      padding-top: 5px; } }

.container--footer {
  display: flex;
  justify-content: space-between;
  max-width: 58.75rem; }
  @media screen and (max-width: 480px) {
    .container--footer {
      flex-direction: column;
      align-items: center;
      text-align: center; } }

.address {
  font-family: 'AlegreyaSans-Regular';
  font-size: 1.32rem; }

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 8.75rem;
  height: 2.1rem; }
  @media screen and (max-width: 480px) {
    .social {
      margin-top: 10px; } }

.social-item {
  fill: #b2b2b2;
  width: 23px;
  height: 23px; }
  .social-item:hover {
    fill: black; }

@font-face {
  font-family: 'Alegreya Sans-Black';
  src: url("../fonts/AlegreyaSans-Black.woff2") format("woff2"), url("../fonts/AlegreyaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans-BlackItalic';
  src: url("../fonts/AlegreyaSans-BlackItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans-Italic';
  src: url("../fonts/AlegreyaSans-Italic.woff2") format("woff2"), url("../fonts/AlegreyaSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Alegreya Sans-Thin';
  src: url("../fonts/AlegreyaSans-Thin.woff2") format("woff2"), url("../fonts/AlegreyaSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-LightItalic';
  src: url("../fonts/AlegreyaSans-LightItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-ExtraBoldItalic';
  src: url("../fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-Light';
  src: url("../fonts/AlegreyaSans-Light.woff2") format("woff2"), url("../fonts/AlegreyaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-Bold';
  src: url("../fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("../fonts/AlegreyaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-Medium';
  src: url("../fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("../fonts/AlegreyaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-ExtraBold';
  src: url("../fonts/AlegreyaSans-ExtraBold.woff2") format("woff2"), url("../fonts/AlegreyaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-BoldItalic';
  src: url("../fonts/AlegreyaSans-BoldItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-ThinItalic';
  src: url("../fonts/AlegreyaSans-ThinItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'AlegreyaSans-MediumItalic';
  src: url("../fonts/AlegreyaSans-MediumItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
.fixed-menu {
  position: fixed;
  top: 21%;
  right: 23%;
  z-index: 100; }

.fixed-menu__item {
  margin-bottom: 5px; }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #fff; }

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative; }
  .fixed-menu__link:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-decoration-style: none;
  list-style-type: none;
  line-height: 1.22; }

body {
  font-family: 'Alegreya Sans-Black';
  font-size: 16px;
  color: black; }

.wrapper {
  width: 100%; }
