.fixed-menu{
    
    position: fixed;
    top: 17%;
    right: 5%;
    z-index: 100;
    
    @include tablets{
        display: none;
    }
}

.fixed-menu__item{
    margin-bottom: 5px;
    
}
.fixed-menu__item--active{
    .fixed-menu__link{
        border-color: #fff;
    }
}
        .fixed-menu__link{
            &:hover{
                border-color:#fff;
            }
    }


.fixed-menu__link{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-color: transparent;
    display: block;
    position: relative;
    
    
    &:before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
    }
    }

.shadowed {
     
    .fixed-menu__link{
        &:hover{
            border-color: black;
        }
    }
    .fixed-menu__link{
        //border-color: black;
        &:before{
            background: black;
        }    
    }
    .burger__line{
        background-color: black;
    }
    .fixed-menu__link--active{
        border-color: black;
}
}
.fixed-menu__link--active{
    border-color: white;
}
.fixed-menu__item--active--shadowed{
    .fixed-menu__link{
        border-color: black;
    }

}
    
