@font-face {
    font-family: 'Alegreya Sans-Black';
    src: url('../fonts/AlegreyaSans-Black.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans-BlackItalic';
    src: url('../fonts/AlegreyaSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya Sans-Italic';
    src: url('../fonts/AlegreyaSans-Italic.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans-Thin';
    src: url('../fonts/AlegreyaSans-Thin.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-LightItalic';
    src: url('../fonts/AlegreyaSans-LightItalic.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-ExtraBoldItalic';
    src: url('../fonts/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-Regular';
    src:url('../fonts/AlegreyaSans-Regular.woff2') format('woff2') ,url('../fonts/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-Light';
    src: url('../fonts/AlegreyaSans-Light.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-Bold';
    src: url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-Medium';
    src: url('../fonts/AlegreyaSans-Medium.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-ExtraBold';
    src: url('../fonts/AlegreyaSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-BoldItalic';
    src: url('../fonts/AlegreyaSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-ThinItalic';
    src: url('../fonts/AlegreyaSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AlegreyaSans-MediumItalic';
    src: url('../fonts/AlegreyaSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
