@import 'sec1/section','sec2/section','sec3/section','sec4/section','sec5/section','footer/footer','fonts.scss','normalize.css','fixed-menu','media';
 
$baseFont:16px;




html{
    font-size: $baseFont;
    
    @include tablets{
        font-size: $baseFont - 1px;
    }    
    @include phones{
        font-size: $baseFont - 2px; 
    }
}




*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration-style: none;
    list-style-type: none;
    line-height: 1.22;
}
body{
    font-family: 'Alegreya Sans-Black';
    font-size: $baseFont;
    color: black;
}
.wrapper{
    width: 100%;
}










