.team__member{
    width: 100%;
    margin-left: 1rem;
    &:first-child{
        margin-left: 0;
    }
}
.team__item{
    text-align: center;
}

.team-img{
    width: 100%;
    @include tablets {
        width: 50%;
    }
}
.team__title{
    width: 100%;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.35rem;
    font-family: 'AlegreyaSans-Bold';
}
.polygon{
    margin-top: 3%;
    border: 7px solid transparent;
    border-bottom: 9px solid black;
    margin-left: 6%;
    transform: rotate(180deg);
    @include tablets{
    margin-top: 1%;
    border: 4px solid transparent;
    border-bottom: 7px solid black;
    margin-left: 2%;
    }
}
.team__drop{
        margin-top: 4%;
        overflow: hidden;
        height: 0px;
        transition: .3s;
}
.team__drop-title{
    font-family: 'AlegreyaSans-Regular';
    font-size: 1.13rem;
    margin-bottom: 4%;
}

.team__drop-content{
    font-family: 'AlegreyaSans-Light';
    font-size: 1.13rem;
    opacity: 0.7;
    @include tablets{
        padding: 0 20%;
    }
    
}