.container4{
    position: relative;
    
    width: 1100px;
    height: 650px;
    left: 0;
    top: -180px;
    margin: 0 auto;
    color: #365a49;
    font-family: 'AlegreyaSans-Regular';
    font-size: 18px;
}
.sec4__title{
    top: -110px;
    left: 0;
    position: relative;
    text-align: center;
    margin: 0 auto;
    //margin-top: 0px;
    font-family: 'AlegreyaSans-Bold';
    font-size: 48px;
    color: #365a49;
}
.blueberry-sec4{
    position: relative;
    width: 50px;
    height: 50px;
    top: 60vh;
    background-repeat: no-repeat;
    background-image: url('../img/section_4/blueberry.png');
}
.leaf-sec4{
    position: relative;
    width: 140px;
    height: 190px;
    left: 56vw;
    top: 53vh;
    background-repeat: no-repeat;
    background-image: url('../img/section_4/leaf.png');

}