.container4{
    position: relative;
    background-image: url('../img/section_4/background.jpg');
    width: 1100px;
    height: 650px;
    left: 0;
    top: 100px;
    margin: auto;
    color: #365a49;
    font-family: 'AlegreyaSans-Regular';
    font-size: 18px;
}
.section__title{
    margin-top: 85px;
    font-family: 'AlegreyaSans-Bold';
    font-size: 48px;
    color: #365a49;
    
}
