
.form__col{
    
    //flex: 1;
    width: 460px;
    height: 260px;
    margin-right: 20px;
    flex-wrap: wrap;
    &:last-child {
    margin-right: 0px;
    }
}
.form__row{
    display: flex;
    margin-bottom: 18px;
}
.form__block{
    //flex: 1;
    //margin-right: 20px;
    &:last-child{
    margin-right: 0;
    }
}
 .textarea{
        position: relative;
        
        height: 140px;
    }
    
.form__input{
    margin-right: 20px;
    width: 100%;
    border: none;
    padding: 18px 11px;
    //border: solid 3px #deee2bd;
    border: solid 3px transparent;
    
    resize: none;
    &:last-child{
        margin-right: 0px;
}
   
    &:focus{
        border-color: #dee2bd;
        outline: none;
    }
}
.form__controls{
    display: flex;
    flex-wrap: wrap;
}
.form__block{
    margin-right: 20px;
}