.form-wrapper{
    display: flex;
    
    @include tablets{
        display: block;
        padding: 0 9%;
        
    }
}
.form__col{
    flex: 1;
    flex-wrap: wrap;
    margin-bottom: 10%;
    @include phones{
        margin-bottom: 5%;
    }
}
.form__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.1rem;
}
.form__block{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 1.25rem;
    &:last-child{
    margin-right: 0;
    }
}
 .textarea{
        position: relative;
        width: 28.75rem;
        height: 8.74rem;
    }
    
.form__input{
    
    padding: 18px 11px;
    //border: solid 3px #deee2bd;
    border: solid 3px transparent;
    width: calc(100% - 1.75rem);
    resize: none;
    &:last-child{
        margin-right: 0px;
}
   
   
//    &:focus{
//        border-color: #dee2bd;
//        outline: none;
//    }
}
.form__controls{
    display: flex;
    
    @include phones{
        justify-content: center;
        align-items: center;}
}
.form__block{
    
}