.form__btns{
    display: flex;
    justify-content: center;
}

.form__input{
    outline: none;
}
.form {
    flex-wrap: wrap;
    justify-content: flex-end;
    display: flex;
    font-family: 'AlegreyaSans-Regular';
    outline: none;
    color: #365a49;
    font-size: 1.125rem;
    &:last-child{
        align-self: flex-end;
    }
    @include tablets{
        display: block;
    }
}