.form-wrapper{
    padding: 3.12rem;
    @include phones{
        padding: 0;
        margin-left: 10px;
    }
}

.form {
    display: flex;
    font-family: 'AlegreyaSans-Regular';
    color: #365a49;
    font-size: 1.125rem;
    @include tablets{
        display: block;
    }
}