.radio__visible-checkbox{
    width: 20px;
    height: 20px;
    position: relative;
    background: #fff;
    
    margin-right: 10px;
    &:before{
    content: "";
    display: none;
    width: 11px;
    height: 11px;
    background-image:url('../img/section_4/checked.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 29%;
    left: 29%;
    transfrom: translate(-50%, -50%);
    }
}


.radio{
    display: flex;
    margin: 0 10px;
    cursor: pointer;
    
    &--checkbox{
        .radio__visible{
    border-radius: 0;}
    }
}
.radio__title{
    margin-top: 1%;
}
input{
    outline: none;
}
.input{
    //display: none;
    
    visibility: hidden;
    position: absolute;
    
    &:checked ~ .radio__visible{
        &:before{
            display: block;
        }}
    &:checked ~ .radio__visible-checkbox{
        &:before{
            display: block;
        }
    }
}
.radio-checkbox{
    margin-top: 10px;
}
.radio__visible{
    width: 20px;
    height: 20px;
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
    &:before{
    content: "";
    display: none;
    width: 14px;
    height: 14px;
    background:#365a49;
    border-radius: 50%;
    position: absolute;
    top: 19%;
    left: 16%;
    transfrom: translate(-50%, -50%);
    }
}
.btn-sec4{
    
    border:0px;
   
    
    background: #365a49;
    color: #fff;
    @include tablets{
        
    }
}
.btn--green{
    &:hover{
        background: #fff;
        color: #365a49;
    }
}
.btn--transparent{
    background: transparent;
    color: black;
    
    &:hover{
        color: #365a49;
        background: transparent;
    }
}
.form__btns{
   
}