@import 'container','form','form__col-1','radio-buttons';
.delivery{
    background-image: url('../img/section_4/background.jpg');
}
.sec4__title{
    padding-bottom:4rem; 
    position: relative;
    text-align: center;
    margin: 0 auto;
    //margin-top: 0px;
    font-family: 'AlegreyaSans-Bold';
    font-size: 4rem;
    color: #365a49;
    @include phones{
        padding: 0;
    }
}
.blueberry-sec4{
    position: absolute;
    width: 4.375rem;
    height: 4.375rem;
    left: 25%;
    top: 71%;
    background-repeat: no-repeat;
    background-image: url('../img/section_4/blueberry.png');
    
    @include tablets{
        display: none;
    }
}
.leaf-sec4{
    position: absolute;
    width: 8.75rem;
    height: 13.125rem;
    right: 4%;
    top: 66%;
    background-repeat: no-repeat;
    background-image: url('../img/section_4/leaf.png');
     @include tablets{
        display: none;
    }

}