.footer{
    width: 100%;
    height: 100px;
}
.num-color{
    color: #365a49;
    margin-left: 15px;
    top: 0;
    
}
.footer-number{
    padding-top: 20px;
}
.container--footer{
    display: flex;
    justify-content: space-between;
    max-width: 58.75rem;
}
.address{
    font-family: 'AlegreyaSans-Regular';
    font-size: 1.32rem;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 35px;
    
}


