.footer{
    width: 100%;
    height: 100px;
}
.num-color{
    color: #365a49;
    
    top: 0;
}
.phone-icon{
    left: 5px;
}
.footer-number{
    display: inline-flex;
    padding-top: 20px;
    @include phones{
        padding-top: 5px;
    }
}
.container--footer{
    display: flex;
    justify-content: space-between;
    max-width: 58.75rem;
    @include tablets{
        flex-direction: row;
    }
    @include phones{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.address{
    font-family: 'AlegreyaSans-Regular';
    font-size: 1.32rem;
}
.social{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 8.75rem;
    height: 2.1rem;
    @include phones{
        margin-top: 10px;
    }
}
.social-item{
    fill:#b2b2b2;
    width: 23px;
    height: 23px;
    
    &:hover{
        fill:black;
    }
}


