.container3{
    position: relative;
    width: 940px;
    height: 650px;
    
    top: 70px;
    margin: auto;
}
.strawberry{
    position:absolute;
    width: 145px;
    height: 90px;
    left: 1340px;
    top: 1350px;
}
.berries-sec3{
    position:absolute;
    width: 195px;
    height: 185px;
    left: 405px;
    top: 1855px;
}
.pattern-sec3{
    position:absolute;
    width: 70px;
    height: 285px;
    left: 400px;
    top: 1800px;
    z-index: -1;
}