
.strawberry{
    position:absolute;
    
    right: 0;
    top: 0;
}
.berries-sec3{
    position:absolute;
    top: 78%;
    z-index: 1;

}
.pattern-sec3{
    position:absolute;
    width: 4.375rem;
    height: 17.8rem;
    
    
}