.container3{
    position: relative;
    width: 940px;
    height: 100vh;
    top: -100px;
    margin: 0 auto;
}
.strawberry{
    position:absolute;
    width: 145px;
    height: 90px;
    left: 1340px;
    top: 1950px;
}
.berries-sec3{
    position:absolute;
    width: 195px;
    height: 185px;
    left: 405px;
    top: 2500px;
}
.pattern-sec3{
    position:absolute;
    width: 70px;
    height: 285px;
    left: 400px;
    top: 2500px;
    z-index: -1;
}