.container3{
    position: relative;
    width: 940px;
    height: 100vh;
    top: -100px;
    margin: 0 auto;
}
.strawberry{
    position:absolute;
    width: 145px;
    height: 90px;
    right: 0px;
    top: 0px;
}
.berries-sec3{
    position:absolute;
    width: 195px;
    height: 185px;
    z-index: 1;

}
.pattern-sec3{
    position:absolute;
    width: 70px;
    height: 285px;
    
    
}