.reviews__switcher{
    display: flex;
    justify-content: space-around;
    width: 15.625rem;
    margin: 0 auto;
}

.interactive__avatar-link
    {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
        &:hover{
            border:6px solid #365a49;
    }
    
    
    }   

.interactive-avatar__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

