.reviews__avatar{
    position: relative;
    width: 253px;
    height: 260px;
    background-image: url('../img/section_3/photo1.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 40px 34px;
}
//715 260
.reviews{
    max-width: 940px;
    height: 450px;
    margin: 0 auto;
}
.reviews__title{
    margin-top: 5px;
    left: 0;
    padding-bottom: 20px;
    font-family: 'AlegreyaSans-Bold';
    font-size: 30px;
}
.reviews__text{
    position: relative;
    height: 105px;
    
    font-family: 'AlegreyaSans-Regular';
    font-size: 18px;
    color: rgb(171,172,172);
}
.reviews__author{
    font-family: 'AlegreyaSans-Medium';
    padding-top: 20px;
}

.reviews__display{
    display: flex;
    position: relative;
    background-image: url('../img/section_3/rectangle.png');
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
}
.reviews__content{
    padding-right:160px; 
    flex: 1;
    height: 245px;
    margin-left: 20px;
    position: relative;
    
}