.reviews__switcher{
    display: flex;
    justify-content: space-around;
    width: 15.625rem;
    margin: 0 auto;
}

.interactive__avatar-link
    {
    display: block;
    width: 4rem;
    height: 4rem;
    border:6px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    }   

.interactive-avatar__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &--active{
        border-color: #0f5a47;
    }
}

