.reviews__avatar{
    
    width: 15.8rem;
    height: 16.25rem;   

   
    
    @include tablets{
        padding-top: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        width: 130px;
        height: 130px;
        margin-left: 1rem;
        margin-top: 2rem;
    }
}
.default{
    background-size: cover;
    background-position: center;
    height: 100%;
}
.review__avatar-1{background-image: url('../img/section_3/photo1.jpg');}
.review__avatar-2{background-image: url('../img/section_3/photo3.jpg');}
.review__avatar-3{background-image: url('../img/section_3/photo2.jpg');}

.reviews{ 
    width: 100%;
    height: 30%;
    margin-top: 6rem;
    margin-bottom: 5rem;
    
    @include tablets{
        margin: 0 auto;
        margin-bottom: 14rem;
    }
}
.reviews__title{
    padding-top: 0.5rem;
    left: 0;
    
    font-family: 'AlegreyaSans-Bold';
    font-size: 1.875rem;
    
    @include tablets{
        padding-top: 2rem;
    }
}
.reviews__text{
    position: relative;
    
    padding: 4% 0%;
    font-family: 'AlegreyaSans-Regular';
    font-size: 1.125rem;
    color: rgb(171,172,172);
}
.reviews__author{
    font-family: 'AlegreyaSans-Medium';
    font-size: 1.125rem;
}

.reviews__display{
    display: flex;
    position: absolute;
    background-image: url('../img/section_3/back.jpg');
    background-position: top right ;
    background-color: #f8faf9;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0;
    
    &:before{
        content: "";
        display: block;
        width: 90px;
        height: 90px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 45%;
        //transform: translate(-50%);
        top: -27%;
    }
    @include tablets{
        flex-direction: column;
        align-items: center;
        text-align: center;
        //background-size: 100%;
        
        margin-bottom: 4rem;
        
    }
}
.active{
    //position: static;
    pointer-events: unset;
    opacity: 1; 
}
.reviews__content{
    padding-right:14rem; 
    flex: 1;
    height: 15.3rem;
    margin-left: 1.25rem;
    
    @include tablets{
        padding-right:0rem; 
    }
}




