.reviews__switcher{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 250px;
    height: 80px;
    margin: 0 auto;
    
}

.interactive__avatar-link
    {
        display: block;
    position: relative;
    width: 65px;
    height: 65px;
    border:6px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    }   

.interactive-avatar__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &--active{
        border-color: #0f5a47;
    }
}

