
.burger {
        position: fixed;
        top: 20px;
        right: 5%;
        width: 40px;
        height: 50px;
        z-index: 100;
        cursor: pointer;
        transition: all .4s;
        display: none;
    
    @include tablets {
        display: block;
    }
      }
      .burger__line {
        display: block;
        background-color: #fff;
        width: 39px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        //transform: translate(0, 0);
          
      }
.burger__line:nth-child(1) {
        opacity: 1;
        transform: translate(-50%, -6px);
      }
      .burger__line:nth-child(2) {
        transform: translate(-50%, -22px) rotate(0deg);
      }
      .burger__line:nth-child(3) {
        transform: translate(-50%, 10px) rotate(0deg);
}      
      
.burger--active{
    top: 12px;
    .burger__line:nth-child(1) {
        opacity: 0;
      }
      .burger__line:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      .burger__line:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
}
}
.overlay{
    color: white;
    height: 100%;
    width: 100%;
    background-color: #343739;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    
    position: fixed;
    top: 0;
    left: 100%;
    opacity: 0;
    z-index: 4;
    
    display: none;
    
    
    @include tablets {
        display: block;
    }
}
.menu{
    &__item{
        color: white;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &:last-child{
            margin-bottom: 0;
            &:after{
                display: none;
                }
            }
        }
    &__link{
        font-size: 36px;
        color: #fff;
        &:hover{
            opacity: .7;
        }
    }
    
}
//.burger--active{
//    .burger__line{
//        &:nth-child(1){
//            opacity: 0;
//        }
//        &:nth-child(2){
//            transform:rotate(40deg);
//        }
//        &:nth-child(3){
//            transform:rotate(-39deg) translateY(-8px) translateX(5px);
//        }
//        
//    }
//}
.overlay--active{
    left: 0;
    opacity: 1;
    display: flex;
}
.body--active-menu{
    overflow:hidden; 
}










