.burger{
    width: 30px;
    height: 23px;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 5;
    cursor: pointer;
    transition: all .4s;
    display:none;
    
    @include tablets{
        display: block;
    }

&__line{
    display: block;
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
    
    &:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
        }
    
    &:nth-child(3){
        bottom: 0;
        top: initial;
        }
    }
    
    
}
.overlay{
    color: white;
    height: 100%;
    width: 100%;
    background-color: #343739;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    
    position: fixed;
    top: 0;
    left: 100%;
    opacity: 0;
    z-index: 4;
    
    display: none;
    
    &__menu{
        margin-top: 5.5rem;
    }
    @include tablets {
        display: block;
    }
}
.menu{
    &__item{
        color: white;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &:last-child{
            margin-bottom: 0;
            &:after{
                display: none;
                }
            }
        }
    &__link{
        font-size: 36px;
        color: #fff;
        &:hover{
            opacity: .7;
        }
    }
    
}
.burger--active{
    .burger__line{
        &:nth-child(1){
            opacity: 0;
        }
        &:nth-child(2){
            transform:rotate(40deg);
        }
        &:nth-child(3){
            transform:rotate(-39deg) translateY(-8px) translateX(5px);
        }
        
    }
}
.overlay--active{
    left: 0;
    opacity: 1;
}
.body--active-menu{
    overflow:hidden; 
}










