.container {
    position: relative;
    max-width:68.75rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    @include phones {
        margin: auto;
    }
    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
