@import '../media.scss';
.content{
    position: relative;
    width: 29.37rem;
    margin-top: 6.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    @include tablets{
        width: 100%;
        height: 93%;
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
      
        align-items: center;
        text-align: center;
        margin-top: 0;
        &:before{
            //content: url('../img/section_1/back-img.png');
        }
    }
}
.phone--backgr{
    display: none;
    width: 370px;
    height: 370px;
    position: relative;
    top: -5%;
    left: 0;
    
    @include tablets{
        display: block;
    }
}
