.descrpt{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 500px;
    height: 60px;
    margin-top: 150px;
    left: 10px;
    color: white;
    text-align: left;
    font-family: 'AlegreyaSans-Regular';;
    font-size: 16px;
    
}
