.descrpt{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 31.25rem;
    
    margin-top: 9.37rem;
    
    color: white;
    
    font-family: 'AlegreyaSans-Regular';;
    font-size: 1rem;
    
    @include tablets{
        display: none;
    }
}
