.descrpt{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 31.25rem;
    //height: 3.75rem;
    margin-top: 9.37rem;
    left: 0.625rem;
    color: white;
    text-align: left;
    font-family: 'AlegreyaSans-Regular';;
    font-size: 1rem;
    
    @include tablets{
        display: none;
    }
}
