.explain{
    position: relative;
    padding-right: 15%;
    margin-top: 0.375rem;
    
    font-family: 'AlegreyaSans-Regular';
    font-size:1.31rem;
    color: white;
    
    @include tablets{
        margin-top: 0;
        padding: 0 25%;
    }
    @include phones{
        padding: 0 17%;
    }
}