.header {
    //width: 58.75rem‬;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    //height: 5.45rem;
    font-family: 'AlegreyaSans-Regular';
    
}

