.item-1{
    top: 0;
    left: 0px;
}
.leaf-svg{
    //position: absolute;
    width: 45px;
    height: 45px;
}
//.item-1:before{
//    position: absolute;
//    left: -0.625rem;
//    top: 0;
//   
//    content: url('../img/section_1/icon1.png');
//}
