.car-svg{
    width: 45px;
    height: 45px;
    
}

//.item-2:before{
//    position: absolute;
//    left: 9.68rem;
//    top: 0;
//   
//    content: url('../img/section_1/icon2.png');
//}