.item-1{
    top: 0;
    left: 0px;
}
.item-1:before{
    position: absolute;
    left: -10px;
    top: 0;
    width: 50px;
    height: 50px;
    content: url('../img/section_1/icon1.png');
}
