@import '../media';

.header__menu{
    flex: 1;
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 5.43rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
    
    @include tablets{
        display: none;
    } 
    .li-last{
        margin-right: 1rem;
    }
    .li{
        margin-right: 5px;
    }
    
    a {
    position: relative;
    white-space: nowrap;
    top: 2.31rem;
    left: 0;
    color: #fff;
    }
}
.svg-num{
    fill:#fff;
    margin: 7px 5px;
    margin-left: 0;
    width: 13px;
    height: 13px;
}
.color-svg{
    fill:#365a49;
}
.number{
    display: inline-flex;
    margin-top: 2.1rem;
    @include tablets{
        display: none;
    }
}
    .num{
        
        white-space: nowrap;
        
        left: 0;
        color: #fff;
        font-size: 1.5rem;
        font-family: 'AlegreyaSans-Regular';
    }
    
//    .num:before{
//        position: absolute;
//        left: -1rem;
//        top: -0.1rem;
//        width: 0.625rem;
//        height: 0.625rem;
//        content: url('../img/section_1/phone.png');
//        background-size: 20%;
//        
//        
//    }
    

