@import '../media';

.menu{
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    height: 5.43rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
    
    @include tablets{
        display: none;
    } 
    .li-last{
        margin-right: 4rem;
    }
    li{
        margin-right: 2.87rem;
    }
    a {
    position: relative;
    white-space: nowrap;
    top: 2.31rem;
    left: 0;
    color: #fff;
    }
}

.number{
    @include tablets{
        display: none;
    }
}
    .num{
        position: relative;
        white-space: nowrap;
        top: 2rem;
        left: 0;
        color: #fff;
        font-size: 1.5rem;
        font-family: 'AlegreyaSans-Regular';
    }
    
    .num:before{
        position: absolute;
        left: -1rem;
        top: -0.1rem;
        width: 0.625rem;
        height: 0.625rem;
        content: url('../img/section_1/phone.png');
        background-size: 20%;
        
        
    }
    

