.menu{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 87px;
    
    a {
    position: relative;
    top: 37px;
    left: 0;
    color: #fff;
    }
    .num{
        margin-left: 10px;
        top: 30px;
        font-size: 24px;
    }
    
    .num:before{
        position: absolute;
        left: -15px;
        top: 1px;
        width: 10px;
        height: 10px;
        content: url('../img/section_1/phone.png');
        background-size: 20%;
        font-size: 20px;
        
    }
    
}
