.btn{
    margin-top: 30px;
}
.btn-text{
    width: 160px;
    height: 50px;
    padding: 18px 35px;
    font-family: 'AlegreyaSans-ExtraBold';
    font-size: 19px;
    color: #365a49;
    position: relative;
    top: 42px;
    background: #fff;
    text-transform: uppercase;
    border-radius: 100px;
    left: 0px;
    &:hover{
    background: #365a49;
    color: black;
    }
}
