.btn{
    margin-top:6rem;
    
    @include tablets{
        margin-top: 1rem;
    }
}
.btn-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 40px;
    font-family: 'AlegreyaSans-ExtraBold';
    font-size: 1.18rem;
    color: #365a49;
    position: relative;
    
    background: #fff;
    text-transform: uppercase;
    border-radius: 6.25rem;
    
    &:hover{
    background: #365a49;
    color: black;
    }
}
