.btn{
    margin-top: 1.87rem;
    
    @include tablets{
        margin-top: 0.5rem;
    }
}
.btn-text{
    width: 10rem;
    height: 3.125rem;
    padding: 18px 35px;
    font-family: 'AlegreyaSans-ExtraBold';
    font-size: 1.18rem;
    color: #365a49;
    position: relative;
    top: 2.6rem;
    background: #fff;
    text-transform: uppercase;
    border-radius: 6.25rem;
    
    &:hover{
    background: #365a49;
    color: black;
    }
}
