.btn-theme-white{
    position: relative;
    width: 156px;
    margin-top: 15px;
    left: 15px;
    top: 0;
}
.btn-text{
    font-family: 'AlegreyaSans-ExtraBold';
    font-size: 19px;
    color: #365a49;
    position: relative;
    top: 42px;
    left: 33px;
}