.r-content{
    top: 130px;
    left: 500px;
    width: 470px;
    height: 430px;
}
.bars{
    position: relative;
    width: 500px;
    height: 520px;
    top: -28px;
    left: 10px;
    background-image: url(../img/section_1/bars.png);
}
.leaf1{
    position: absolute;
    width: 240px;
    height: 200px;
    top: 275px;
    left: 765px;
    background-image: url(../img/section_1/leaf1.png);
}
.leaf2{
    position: absolute;
    width: 140px;
    height: 110px;
    top: 490px;
    left: 585px;
    background-repeat: no-repeat;
    background-image: url(../img/section_1/leaf2.png);
}
.leaf3{
    position: absolute;
    width: 60px;
    height: 100px;
    top: 500px;
    left: -45px;
    background-repeat: no-repeat;
    background-image: url(../img/section_1/leaf3.png);
}
.berries1{
    position: absolute;
    width: 230px;
    height: 230px;
    top: 320px;
    left: 545px;
    background-repeat: no-repeat;
    background-image: url(../img/section_1/berries1.png);}
.berries2{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 500px;
    left: 815px;
    background-repeat: no-repeat;
    background-image: url(../img/section_1/berries2.png);
}
