@import 'content.scss','header','logo','nav','section__title','explain','sec1/order','descrpt','item-1','item-2','item-3','container','burger';

.hero{
    width: 100%;
    height: 100vh;
    
    top: 0;
    left:0;
    background:url('../img/section_1/background.jpg') right bottom;
    
    background-repeat: no-repeat;
    background-color: #61c4d9;
    
    display: block;
    
    @include tablets{
        //display: flex;
        background-position: right bottom 100%;
    }
}
.bars{
     width: 31.25rem;
     height: 31.25rem;
     right: 19%;
     top: 25%;
     background-repeat: no-repeat;
     position: absolute;
     background: url(../img/section_1/bars.png)left 78% center;
}
.berries1{
    background: url('../img/section_1/berries1.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 15.625rem;
    height: 15.625rem;
    right: 32%;
    top: 65%;
}
.berries2{
    background: url('../img/section_1/berries2.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 9.375rem;
    height: 9.375rem;
    right: 15%;
    top: 93%;
}
.leaf1{
    background: url('../img/section_1/leaf1.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 14.375rem;
    height: 14.375rem;
    right: 17%;
    top: 60%;
}
.leaf2{
     background: url('../img/section_1/leaf2.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 14.375rem;
    height: 14.375rem;
    right: 32%;
    top: 93%;
}

.leaf3{
    background: url('../img/section_1/leaf3.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 3.75rem;
    height: 6.25rem;
    left: 4%;
    top: 85%;
}
.images{
    @include tablets{
        display: none;
    }
}