.section__title1{
    font-family: 'AlegreyaSans-Bold';
    font-size:3rem;
    color: white;
    margin-bottom: 1.25rem;
    margin-left: -3px;
    
    @include tablets{
        margin-bottom: 1rem;
    }
    @include phones {
        margin-bottom: 0;
    }
}