@import 'content.scss','header','logo','nav','l-content','r-content','section__title','explain','sec1/order','descrpt','item-1','item-2','item-3','container';

.hero{
    width: 100%;
    height: 100vh;
    top: auto;
    left:auto;
    background: url('../img/section_1/background.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #61c4d9;
    //object-position: right;
    display: block;
    
}

