@import 'content.scss','header','logo','nav','l-content','r-content','section__title','explain','sec1/order','descrpt','item-1','item-2','item-3','container';

.hero{
    width: 100%;
    height: 650px;
    top: auto;
    left:auto;
    background-color: #61c4d9;
    display: block;
}

