.player {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  width: 100%;
  height: 406px;
  position: relative;

  @include tablets {
    width: 95%;
  }

  @include phones {
    max-height: 295px;
  }
}
.player-img-1{
    position: absolute;
    top: 75%;
    left: 10%;
    @include phones {
        display: none;
    }
}
.player-img-2{
    position: absolute;
    top: 20%;
    left: 75%;
    @include phones{
        display: none;
    }
}
.player-img-3{
    right: 0;
    top: 82%;
    z-index: 10;
    position: absolute;
    
    @include phones {
        width: 35%;
    }
}
.video {
  position: relative;
  background-color: #f8faf9;
}

.video-container {
  display: flex;
  flex-direction: column;
  
  align-items: center;

}





.player__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.player__elem {
  width: 100%;
  height: 100%;
}

.player__splash {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  overflow: hidden;
}
.disappear{
    display: none;
}

.player__splash img {
  width: 100%;
  height: 90%;
}

.active .player__splash {
  display: none;
}

.player__controls {
  display: flex;
  flex-direction: row;
  background-color: #404040;
  align-items: center;
  height: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;

  @include phones {
    justify-content: space-between;
  }
}

.player__playback {
  display: flex;
  align-items: center;
}
.paused{
    .player__controls{
        .player__start{
            background: url('../img/section_9/paused.png') no-repeat;
            background-position: center;
           
        }
    }
}

.player__start {
  width: 55px;
  height: 100%;
  border: none;
  background: url("../img/section_9/play-gray.png") no-repeat;
  background-position: center;
  margin-right: 10px;
}


.player--paused {
  background: url(https://3.downloader.disk.yandex.ru/preview/94e2edcc992f11d0dc19a03fc160de849fcb5a4dd03f9047f57ee29b6b945220/inf/plwDV5v8CXESIxoBrdKgZqLRT4klZFjb2YRDc_TULm7uM17VujzewcFuw6r6zVKtWYtPPeDeBP65AEHcWim8FA%3D%3D?uid=208008506&filename=pause.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  background-position: center;
}

.player__start:hover {
  cursor: pointer;
}

.player__playback {
  width: 68%;
  position: relative;
  margin-right: 15px;

  @include phones {
    width: 35%;
  }

  &::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    display: block;
    background: url("../img/section_9/scale.png") no-repeat;
  }
}

.player__playback-button {
  background: #626262;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.player__volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;

  @include phones {
    width: 33%;
  }
}

.volume__pic {
  width: 40px;
  height: 20px;
  border: none;
  background-image: url("../img/section_9/volume.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 80%;
  background-position: center;
  margin-right: 10px;
}

.volume__pic--nosound {
  background-image: url("../img/section_9/nosound.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 80%;
  background-position: center;
}

.volume__playback {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 90%;
    height: 4px;
    position: absolute;
    display: block;
    background: url("../img/section_9/soundscale.png") no-repeat;
  }
}

.volume__playback-button {
  background: #626262;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;

}


iframe#yt-player {

  @include tablets {
    width: 100%;
  }


}