.slider-container{
    width: 100%;
    margin: 0 5%;
    position: relative;
    max-width:58.75rem;
    height: 100%;
    padding: 0 10px;
    display: flex;
}
.slider__images{
    flex: 1;
}
.slider-img-1{//bars
    z-index: 10;
    position: absolute;
    top: 21.8%;
    left: -3%;
    width: 25rem;
    height: 26.8rem;
    
}
.slider-img-2{//blue elipse
    z-index: 1;
    left: 0%;
    top: 33.5%;
    width: 24rem;
    height: 19.3rem;
    position: absolute;
}
.slider-img-3{//gray elipse
    z-index: 0;
    left: 0%;
    top: 40%;
    width: 24.3rem;
    height: 15.9rem;
    position: absolute;
}
.slider-img-4{//leaf
    left: 32%;
    top: 62%;
    width: 6.9rem;
    height: 4.7rem;
    position: absolute;
}
.slider-img-5{//leaf
    z-index: 0;
    left: -10%;
    top: 32%;
    width: 5rem;
    height: 6.6rem;
    position: absolute;
}
.slider__arrow{
    z-index: 1;
}