.slider-container{
    width: 100%;
    margin: 0 5%;
    position: relative;
    max-width:58.75rem;
    height: 100%;
    padding: 0 10px;
    display: flex;
    
    @include tablets{
        display: block;
    }
}
.slider__images{
    flex: 1;
    
    @include tablets{
        display: block;
        width: 100%;
        height: 50%;
    }
}
.slider-img-1{//bars
    z-index: 10;
    position: absolute;
    top: 21.8%;
    left: -3%;
    width: 25rem;
    height: 26.8rem;
    
    @include tablets{
        left: 16%;
        top: 5%;
    }
    @include phones {
        left: 0;
        top: 8%;
    }
}
.slider-img-2{//blue elipse
    z-index: 1;
    left: 0%;
    top: 33.5%;
    position: absolute;
    
    @include tablets {
    left: 19%;
    top: 14%;
    }
    @include phones {
        left: 0;
        top: 14%;
    }
}
.slider-img-3{//gray elipse
    z-index: 0;
    left: 0%;
    top: 40%;

    position: absolute;
    
    @include tablets {
        left: 16%;
        top: 21%;
    }
    @include phones {
        left: 0;
        top: 21%;
    }
}
.slider-img-4{//leaf
    left: 31%;
    top: 64%;

    position: absolute;
    
    @include tablets{
        left: 75%;
        top: 41%
    }
}
.slider-img-5{//leaf
    z-index: 0;
    left: -10%;
    top: 32%;
 
    position: absolute;
    
    @include tablets{
        left: 0%;
        top: 32%;
    }
    @include phones {
        left: -15%;
    }
}
.slider__arrow-1{
    z-index: 1;
    position: relative;
    left: 5%;
    margin-top: 35%;
}
.slider__arrow-2{
    z-index: 1;
    position: relative;
    right: 5%;
    margin-top: 35%;
}