.slider__content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    font-family: 'AlegreyaSans-Regular';
    font-size: 1.13rem;
    z-index: 10;
    
    @include tablets{
        width: 100%;
        height: 45%;
    }
}
.slider__main-content{
    @include tablets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        text-align: center;}
}
.drop{
    width: 5.6rem;
    height: 5.6rem;
    margin-top: 44%;
    border-radius: 5px;
    background-color: #86c3d7;
    &:hover{
        background-color: #60aacc; 
    }
    &:hover .drop__content{
        display: table;
    }
    @include tablets {
        display: none;
    }
}
.slider__title{
    font-family: 'AlegreyaSans-Bold';
    font-size: 2.25rem;
    padding: 5% 0;
}
.slider__descrp{
    padding-right: 25%;
    opacity: 0.6;
    
    @include tablets {
        padding: 0 8%;
    }
}
.weight{
    margin-left: 15%;
    text-align: left;
}
.calorie{
    text-align: left;
}
.slider-list{
    display: flex;
    width: 14rem;
    justify-content: space-between;
    margin: 8% 0;
        
        @include tablets {
                margin-top: 3%;
                margin-bottom: 6%;
            }
}
.li-font{
    font-family: 'AlegreyaSans-Bold'; 
    
}
.slider__price{
    display: flex;
    font-family: 'AlegreyaSans-Light';
    font-size: 3.75rem;
    justify-content: space-between;
    width: 20rem;
}
.slider-btn-position{

    background: #365a49;
    color: #fff;
}
.slider__svg-wrapper{
    margin: 0 auto;
    width: 60%;
    margin-top: 9%;
    fill:#fff;
}
.drop__title{
    text-align: center;
    color: #fff;
    position: relative;
    
    font-family: 'AlegreyaSans-Bold';
    font-size: 0.875rem;     
}
.slider-btn{
        margin-top: 2%;
    margin-left: 6%;
    
}
.drop__content{
    display: none;
    font-family: 'AlegreyaSans-Medium';
    position: absolute;
    background-color: #fff;
    opacity: 0.95;
    min-width: 260px;
    min-height: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.drop__item{
    min-width: 76px;
}
.drop__numbers{
    padding-left: 15%;
}
.drop-svg-wrapper{
    width: 40px;
    height: 40px;
}
.drop-svg{
    padding-left: 6%;
}