.slider-container{
    min-width: 100%;
    
    
    position: relative;
    max-width:58.75rem;
    height: 100%;
    padding: 0 10px;
    display: flex;
    right: 0;
    @include tablets{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 96vw;
        padding: 0;
        margin: 0;
        
    }
}
.slider-mobile-version{
    
    @include tablets {
        margin-left: 50%;
    }
    @include slippers{
        margin-left: 58%;
    }
}
.slider__images{
    flex: 1;
    
    @include tablets{
        display: none;
        //width: 100%;
        //height: 50%;
    }
}
.slider-img-1{//bars
    z-index: 10;
    position: absolute;
    top: 15%;
    left: 2%;
    width: 25rem;
    height: 26.8rem;
    
    @include tablets{
        left: 14%;
        top: 4%;
    }
    @include phones {
        left: 0;
        top: 8%;
    }
}
.slider-img-2{//blue elipse
    z-index: 1;
    left: 5%;
    top: 33.5%;
    position: absolute;
    
    @include tablets {
    left: 16%;
    top: 14%;
    }
    @include phones {
        left: 0;
        top: 14%;
    }
}
.slider-img-3{//gray elipse
    z-index: 0;
    left: 3%;
    top: 43%;

    position: absolute;
    
    @include tablets {
        left: 16%;
        top: 21%;
    }
    @include phones {
        left: 0;
        top: 21%;
    }
}
.slider-img-4{//leaf
    left: 41%;
    top: 75%;

    position: absolute;
    
    @include tablets{
        left: 54%;
        top: 41%
    }
}
.slider-img-5{//leaf
    z-index: 0;
    left: 0%;
    top: 30%;
 
    position: absolute;
    
    @include tablets{
        left: 5%;
        top: 7%;
    }
    @include phones {
        left: -15%;
    }
}
.slide-mobile-1, .slide-mobile-2{
    display: none;
    @include tablets{
        margin-right: 5%;
        display: block;
    }
}






































































