@import "container","content";




.slider{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f8faf9;
    @include tablets{
        align-items: normal;
    }
}
.slider__arrow-1{
    margin-top: 4.5%;
    transform: rotate(180deg);
    width: 30px;
    z-index: 1;
    @include tablets{
        width: 17px;
        position: relative;
        left: 5%;
        
    }
}
.arrow-svg-wrapper-1{
    @include tablets{
    position: relative;
    top: 72%;
     }
}
.slider__arrow-2{
    margin-top: 5%;
    width: 30px;
    z-index: 1;
    @include tablets{
        width: 17px;
        position: relative;
        right: 5%;
        
    }
}
.arrow-svg-wrapper-2{
    @include tablets{
    position: relative;
    top: 25%;
    }
}
.slider__track{
    max-width: 940px;
    display: flex;
    position: relative;
    right: 0;
    transition: 1s;
    
    overflow: hidden;
}
.slider__movement{
    display: flex;
    transition: 1s;
    position: relative;
    
}