@import "container","content";




.slider{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8faf9;
}
.arrow-svg-wrapper-1{
    transform: rotate(180deg);
    width: 30px;
}
.arrow-svg-wrapper-2{
    width: 30px;
}