.benefits{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    @include tablets{
        margin-top: 3rem;
    }
}
.ball{
    position: absolute;
    right: -2.7rem;
    top: 2.19rem;
    width: 80px;
    height: 35px;
    background: url('../img/section_2/balls.png');
    background-repeat: no-repeat;
    
    @include tablets{
        display: none;
    }
}

