.benefits{
    display: flex;
    
   
    margin-top: 7rem;
    @include tablets{
        margin-top: 2rem;
    }
    @include phones{
       height: 70%;
        flex-direction: column;
    }
}
.ball{
    position: absolute;
    right: -2.7rem;
    top: 2.19rem;
    width: 80px;
    height: 35px;
    background: url('../img/section_2/balls.png');
    background-repeat: no-repeat;
    
    @include tablets{
        display: none;
    }
    @include phones{
        display: none;
    }
}
.justify{
    justify-content: center;
}

