.benefits{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.ball, .ball{
    position: absolute;
    left: 0px;
    top: 325px;
    width: 70px;
    height: 20px;
    background: url('../img/section_2/balls.png');
    background-repeat: no-repeat;
    
}
.ball1{
    left: 260px;
}
.ball2{
    left: 605px;
}
