.benefits{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.ball{
    position: absolute;
    right: -35px;
    top: 63px;
    width: 70px;
    height: 20px;
    background: url('../img/section_2/balls.png');
    background-repeat: no-repeat;
    
}

