.benefits__item{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    flex: 1;
    padding: 0 3%;
}
.benefit__title{
    font-size: 1.75rem‬;
    font-family: 'AlegreyaSans-Bold';
    margin-top: 5px;
}
.hand{
    top: 1.75rem‬;
    left: 0;
    position: relative;
    height: 3.937rem;
    width: 4.69rem;
}
.icon{
    
    top: 50%;
    left: 50%;
    position: absolute; 
    transform: translate(-50%,-50%);
}
.benefit{
    @include tablets{
        
    }
}
.benefit__desc{
    //width: 270px;
    position: relative;
    font-size: 1.125rem;
    font-family: 'AlegreyaSans-Regular';
    margin-top: 1.25rem;
    letter-spacing: 0;
    opacity: 0.5;
}
.benefit__text{
        left: 0;
        margin-top: 1.375rem;
        }

.benefit-wrapper{
    display: inline-block;
    width: 8.125rem;
    height: 8.125rem;
    top: 0;
    left: 0;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
}