.benefits__item{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 280px;
    flex: 1;
    margin: 0 4%;
}
.benefit__title{
    font-size: 28px;
    font-family: 'AlegreyaSans-Bold';
    margin-top: 5px;
}
.hand{
    top: 28px;
    left: 0px;
    position: relative;
    height: 63px;
    width: 75px;
}
.icon{
    width: 74px;
    height: 70px;
    top: 50%;
    left: 50%;
    position: absolute; 
    transform: translate(-50%,-50%);
}
.benefit__desc{
    width: 270px;
    position: relative;
    font-size: 18px;
    font-family: 'AlegreyaSans-Regular';
    margin-top: 20px;
    letter-spacing: 0px;
    opacity: 0.5;
}
.descrp{
    width: 290px;
}
.benefit__text{
        left: 0;
        margin-top: 22px;
        }

.benefit-wrapper{
    display: inline-block;
    width: 130px;
    height: 130px;
    top: 0px;
    left: 0;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
}