.container2{
    position: relative;
    width: 940px;
    left: 0;
    top: -200px;
    height: 650px;
    margin: 0 auto;
}
.pattern{
    position: absolute;
    left: -80px;
    top: 190px;
    width: 165px;
    height: 320px;
    background: url('../img/section_2/pattern.png');
    background-repeat: no-repeat;
    
}
.raspberry{
    position: absolute;
    left: -80px;
    top: 550px;
    width: 160px;
    height: 320px;
    background: url('../img/section_2/raspberry.png');
    background-repeat: no-repeat;
}