.headline{
    
}
.headline__subtitle{
    font-family: 'AlegreyaSans-Regular';
    padding: 0 31%;
    text-align: center;
    opacity: 0.5;
    margin-top: 0;
    @include tablets {
        padding: 0 15%;
    }
    @include phones {
        padding: 0 10%;
    }
}

.section__title{
    font-size: 3rem;
    padding-top: 2.5rem;
    margin-bottom: 3.75rem;
    text-align: center;
    font-family: 'AlegreyaSans-Bold';
    @include phones {
        padding-top: 0rem;
    }
}
.headline__title{
    margin-bottom: 10px;
}