.headline{
    
    //width: 25.625rem;
    
    margin-top: 6.56rem;
    @include tablets{
        margin-top: 0;
    }
    @include phones{
       margin-top:5rem;
    }
    @include slippers{
        margin-top: 3rem;
        margin-bottom: 0;
    }
}
.headline__subtitle{
    font-family: 'AlegreyaSans-Regular';
    padding: 0 31%;
    text-align: center;
    opacity: 0.5;
    margin-top: 0;
    @include tablets {
        padding: 0 15%;
    }
    @include phones {
        padding: 0 15%;
    }
}

.section__title{
    font-size: 3rem;
    margin-top: 3.1rem;
    margin-bottom: 3.75rem;
    text-align: center;
    font-family: 'AlegreyaSans-Bold';
    
    @include tablets{
        
    }
     @include phones{
       margin:0;
    }
}
.headline__title{
    margin-bottom: 10px;
}