.headline{
    margin: auto;
    width: 410px;
    height: 120px;
    margin-top: 105px;
}
.headline__subtitle{
    font-family: 'AlegreyaSans-Regular';
    text-align: center;
    opacity: 0.5;
    margin-top: 0;
}

.section__title{
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'AlegreyaSans-Bold';
}
.headline__title{
    margin-bottom: 10px;
}