.headline{
    margin: auto;
    width: 25.625rem;
    height: 7.5rem‬;
    margin-top: 6.56rem;
}
.headline__subtitle{
    font-family: 'AlegreyaSans-Regular';
    text-align: center;
    opacity: 0.5;
    margin-top: 0;
}

.section__title{
    font-size: 3rem;
    margin-top: 3.1rem;
    margin-bottom: 3.75rem;
    text-align: center;
    font-family: 'AlegreyaSans-Bold';
    
    @include tablets{
        margin-top: 14rem;
    }
}
.headline__title{
    margin-bottom: 10px;
}