@import 'container','headline','benefits','benefits__item';


.section{
    height: 100vh;
    top: auto;
    left: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.pattern{
    position: absolute;
    left: 0;
    top: 11.875rem;
    width: 10.3rem;
    height: 20rem;
    background: url('../img/section_2/pattern.png');
    background-repeat: no-repeat;
    
    @include tablets{
        top: 5rem;
    }
    @include phones{
        display: none;
    }
}
.raspberry{
    position: absolute;
    left: 0;
    top: 34.3rem;
    width: 10rem;
    height: 20rem;
    background: url('../img/section_2/raspberry.png');
    background-repeat: no-repeat;
    
    @include tablets{
        top: 48rem;
    }
    @include phones{
        display: none;
    }
}
