@import 'container','headline','benefits','benefits__item';


.section{
    height: 100vh;
    top: auto;
    left: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.pattern{
    position: absolute;
    left: 0px;
    top: 190px;
    width: 165px;
    height: 320px;
    background: url('../img/section_2/pattern.png');
    background-repeat: no-repeat;
    
}
.raspberry{
    position: absolute;
    left: 0px;
    top: 550px;
    width: 160px;
    height: 320px;
    background: url('../img/section_2/raspberry.png');
    background-repeat: no-repeat;
}
